<ion-view hide-back-button="true" cache-view="false" ng-controller="HomeCtrl">
  <ion-content has-bouncing="false">
    <ion-slide-box does-continue="false">
      <ion-slide>
        <div class="tourimages tourimage1">
          <img src="img/image1.jpg" alt="" />
          <h1>NEWS ROOM</h1>
          <span><a href="#/app/newslist/topstories">Skip</a></span>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="tourimages tourimage2">
          <img src="img/image2.jpg" alt="" />
          <p>Informed and balanced reporting</p>
          <span><a href="#/app/newslist/topstories">Skip</a></span>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="tourimages tourimage3">
          <img src="img/image3.jpg" alt="" />
          <p>More people centered stories</p>
          <span><a href="#/app/newslist/topstories">Skip</a></span>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="tourimages tourimage4">
          <img src="img/image4.jpg" alt="" />
          <p><a href="#/app/newslist/topstories">Get Started​</a></p>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
